/* medias querys para o navagedor quando o tamanho for ate 1000 */
@media (max-width: 1000px){
    main .container-main div {
        margin: auto;
    }
    main .container-main img{
        display: none;
    }
    h2 {
        margin-left: 50px;
    }
    div h3 {
       margin-left: 50px; 
    }
    form{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
    }
    input{
        margin: 12px;
    }
}


@media (max-width: 1000px){
    .container {
        padding: 0px 20px;
    }
    /*para mudar o menu e ter um espaço.  */
}

@media (max-width: 630px){
   
    .menu-button-container {
        display: flex;
        /* aparecer no lugar proprio, pega a label */
    }

    .menu {
        position: absolute;
        /* nao desce junto com o scroll */
        margin-top: 30px;
        /* ficar embaixo do botao */
        flex-direction: column;
        /* vai usar a coluna inteira */
        width: 100vw;
        /* para usar na altura uso vh e na largura vw da viewport */
        /* a tela inteira pois facilitar */
        justify-content: center;
        align-items: center ;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.5s ease transform;
        /* que ele venha da minha esquerda, na width e ocupe 100 */
        /* para vir proximo a minha leitura */
    }
    /* abaixo defino todos os lis abaixo de menu */
    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0px;
        width: 100%;
        color: white;
        background-color: #0080ed;
        border-radius: 5px;
    }

    /* cada borda vai ter uma borda, nao vai ter a propriedade */
    .menu>li:not(:last-child){
        border-bottom: 1px solid white;
    }
    
    /* os botoes devem ocupar todo o espaço */
    .menu li a {
        flex: 1;
        /* ele ocupa todo espaco disponivel */
        text-align: center;
        /* preciso alinhar no link */

    }
    nav.menu{
        width: 100%;
    }

    #checkbox-menu:checked ~ nav .menu {
        /* esta na escala */
        transform: translateX(-100vw);
        transition: 0.5s ease transform;
    }






   
   
   
   
    main .container-menu img{
        display: none;
    }
     
    label{
        cursor: pointer;
        position: relative;
        display: block;
        /* um bloco com 3 spans */
        height: 22px;
        width: 30px;
    }

    label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
        /* cada span ta na mesa linha */
    }
    label span:nth-child(1){
        top: 0;
    }
    label span:nth-child(2){
        top: 8px;
    }
    label span:nth-child(3){
        top: 16px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        /* sumir com o traço do meio e rotacionar os outros */
        transform: rotate(-45deg);
        top: 8px;
    }
    #checkbox-menu:checked + label span:nth-child(2){
        /* sumir com o traço do meio e rotacionar os outros */
        opacity: 0;
        
    }
    #checkbox-menu:checked + label span:nth-child(3){
        /* sumir com o traço do meio e rotacionar os outros */
        transform: rotate(45deg);
        top: 8px;
    }



/* alt+shift+baixo significa que copia e cola embaixo */
    
}



